*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica,"PingFang SC","Microsoft Yahei", sans-serif;
    font-size: 14px;
   
    
}
img{
    width: 100%;
}
:root{
    --primary-color:#ff434f;
    --second-color:#e3e3e3;
    --text-color-lightest:#e7e9ec;
    --text-color-darker:#2e2e2e;
    --text-color-dark:#494949;
    --text-color-gray:#8b8b8b;
    --text-color-light-gray:#727272;
    --text-color-dark-gray:#c6c6c6;
    --background-color:rgba(42,42,42,0.69);
}
header{
    width: 100vw;
    height: 80px;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    z-index: 200;
    position: relative;
}
header .logo{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color-lightest);
}
header nav{
    justify-self: end;
}
header nav i{
    color: var(--text-color-lightest);
}
header nav a{
    color: var(--text-color-lightest);
    text-decoration: none;
    margin: 0 24px;
}
header .burger{
    display: none;
}
.glide{
    position: relative;
    top: -80px;
    z-index: 50;
}
.glide__slide img,
.glide__slide video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;    /* 等比例缩放 */

}
.glide__slide {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.glide__slide .backdrop{
    z-index: 60;
    background-color: var(--background-color);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
}
.slide-caption{
    text-align: center;
    position: absolute;
    z-index: 70;
    color: var(--text-color-lightest);
    max-width: 70vw;
    
}
.slide-caption h1{
    font-size: 40px;
    font-weight: 600;
}
.slide-caption h3{
    font-size: 24px;
    margin: 48px 0;
}
.slide-caption .explor-btn{
    padding: 14px 32px;
    background-color: var(--primary-color);
    color: var(--text-color-lightest);
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}
.slide-caption.left{
    text-align: left;
    
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    display: grid;
    justify-items: center;
    max-width: 1180px;
    padding: 0 80px;
}
.section-bg{
    position: relative;
}
.section-bg::before{
    content: '';
    display: block;
    position: absolute;
    
    background-color:#f9fbfb;
    width: 100vw;
    height: 100%;
    z-index: -1;
}
.title1{
    font-size: 34px;
    color: var(--text-color-darker);
}
.title1::after{
    content: '';
    display: block;
    width: 80%;
    margin-top: 14px;
    height: 4px;
    background-color: var(--primary-color);
    transform: translateX(10%);
}
.intro{
    margin: 28px 0 60px 0;
    font-size: 18px;
    color: var(--text-color-gray);
}
.about-us{
    margin-bottom: 32px;

}
.features{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 126px 126px;
    column-gap: 5vw;
}
.feature{
    display: grid;
    grid-template-areas: 
    "icon title"
    "icon content";
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 3fr;
}
.features i.fas{
    grid-area: icon;
    color: var(--primary-color);
    font-size: 34px;
}
.features h4{
    grid-area: title;
    font-size: 18px;
    columns: var(--text-color-darker);
}
.feature p{
    grid-area: content;
    color: var(--text-color-gray);
    margin-top: 8px;
}
.showcase{
    max-width: unset;

    padding: 0;
    padding-top: 72px;
}
.filter-btns{
    padding: 32px 0;
}
.filter-btn{
    padding: 0.75rem 1.5rem;
    margin: 8px;
    background-color: var(--second-color);
    border-radius: 4px;
    color: var(--text-color-darker);
    cursor: pointer;
    transition: 0.4s;
}
.filter-btn:hover{
    background-color: var(--primary-color);
    color: var(--second-color);

}
.filter-btn.active{
    background-color: var(--primary-color);
    color: var(--second-color);
}
.showcase .cases{
    width: 100vw;

}
.showcase .cases-item{
    width: 25vw;
    height: 20vw;
    overflow: hidden;
}
.showcase .cases-item img{
    height: 100%;
    object-fit: cover;
}
.service{
    padding: 131px;
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 38px;
    row-gap: 34px;
}
.seivice-item{
    display: grid;
    grid-template-areas: 'icon title' 'icon content';
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 3fr;
   
    padding: 24px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.06);
  
}
.seivice-item i.fas{
    grid-area: icon;
    font-size: 42px;
    padding: 6px;
    color: var(--primary-color);
}
.seivice-item .service-title{
    grid-area: title;
    font-size: 18px;
    color: var(--text-color-darker);
}
.seivice-item p{
    font-size: 14px;
    grid-area: content;
    margin-top: 8px;
    color: var(--text-color-gray);
}
.team-intro{
    margin-top: 48px;
    padding: 62px 0;
}
.team-numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 86px;
    column-gap: 24px;
}
.team-number{
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 28px;
    transition: 0.4s;

    display: grid;
    justify-items: center;
}
.profile-image{
    overflow: hidden;
}
.profile-image img{
    width: 100%;
    height: 264px;
    object-fit: cover;
    object-position: top center;
}
.team-number .name{
    font-size: 18px;
    margin-top: 18px;
    font-weight: 500;
}
.team-number .position{
    margin-top: 18px;
    font-size: 18px;
    color: var(--text-color-light-gray);
}
.team-number .social-links{
    list-style: none;
    margin-top: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
    width: 100%;
    max-width: 200px;
}
.social-links li a{
    color: var(--text-color-darker);
}
.team-number:hover{
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
}
.data-section{
    max-width: unset;
    position: relative;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15vw;
    margin-top: 36px;
    padding: 48px 60px;
    text-align: center;
    background: url("https://images8.alphacoders.com/550/thumb-1920-550131.jpg") center center no-repeat/cover;
    z-index: 30;
    
    
}
.data-section::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    z-index: -1;
}

.data-section i.fas{
    font-size: 34px;
    color: var(--text-color-dark-gray);
    z-index: 30;
}
.data-section .num{
    font-size: 34px;
    margin-top: 18px;
    color: var(--text-color-dark-gray);
    z-index: 30;
}
.data-section .data-desc{
    font-size: 28px;
    margin-top: 14px;
    color: var(--text-color-dark-gray);
    z-index: 30;
}

.company-about{
    margin-top: 32px;
    padding: 42px 0;
}
.company-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
   
}
.company-card{
     box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
     transition: 0.4s;
}
.company-card:hover{
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
}
.company-img{
    overflow: hidden;
}
.company-img img{
    width: 100%;
    height: 264px;
    object-fit: cover;
    object-position: top center;
}
.company-wrapper{
    padding: 18px 20px;
}
.company-date{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--text-color-dark-gray);
}
.company-date i.fas{
    margin-right: 5px;
}
.conpany-title{
    margin-top: 18px;
    font-size: 18px;
    color: var(--text-color-darker);
}
.conpany-msg{
    margin-top: 18px;
    font-size: 14px;
    line-height: 21px;
}
.company-btn{
    margin-top: 18px;
  
}
.company-btn button{
      outline: none;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 15px;
}
footer{
    margin-top: 30px;
    padding: 40px 0 20px 0;
    background-color: var(--text-color-darker);
  color: #fff;
}
footer .footer-sections{
    width: 1180px;
      display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    text-align: center;
}

footer .footer-sections .footer-section h2{
  font-size: 18px;

}
.first-section{
    text-align: left;
}
footer .footer-sections a{
    
    text-decoration: none;
    color: var(--text-color-dark-gray);
    display: inline-block;
   margin-top: 8px;
}
footer .footer-sections .first-section > *{
    margin-bottom: 18px;
}
.title{
    font-size: 18px;
    margin-bottom: 12px;
}
.foot-msg{

 padding: 36px 0 0 0;
}
.foot-msg p{
    margin-bottom: 18px;
}